<mat-toolbar color="primary" *ngIf="locationCheck()">
  <mat-toolbar-row>
    <span>Система учета пациентов</span>
    <button mat-button routerLink="/dash">Dashboard</button>
    <button mat-button routerLink="/schedule">Schedula</button>
    <button mat-button routerLink="/patient">Patients</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button routerLink="/login">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-tab-group class="demo-tab-group">
  <mat-tab label="Dashboard" routerLink="/dash"></mat-tab>
  <mat-tab label="Schedula" routerLink="/schedule"></mat-tab>
  <mat-tab label="Patients" routerLink="/patient"></mat-tab>
  <mat-tab label="Profile" routerLink="/profile"></mat-tab>
</mat-tab-group> -->
