<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Header</span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/login">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-tab-group class="demo-tab-group">
  <mat-tab label="Dashboard" routerLink="/dash"></mat-tab>
  <mat-tab label="Schedula" routerLink="/schedule"></mat-tab>
  <mat-tab label="Patients" routerLink="/patient"></mat-tab>
  <mat-tab label="Profile" routerLink="/profile"></mat-tab>
</mat-tab-group> -->
