<div class="col-md-6 offset-md-3 registration">
  <mat-card>
    <h1>Registration</h1>
    <form name="form" [formGroup]="form.formGroup" novalidate>
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput placeholder="First Name" type="text" class="form-control" name="firstName" formControlName="firstName" required />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="form.getControl('firstName').invalid && (form.getControl('firstName').dirty || form.getControl('firstName').touched)">
          <div *ngIf="form.getControl('firstName').errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput placeholder="Last Name" type="text" class="form-control" name="lastName" formControlName="lastName" required />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="form.getControl('lastName').invalid && (form.getControl('lastName').dirty || form.getControl('lastName').touched)">
          <div *ngIf="form.getControl('lastName').errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput placeholder="Phone" type="number" class="form-control" name="phone" formControlName="phone" required />
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="form.getControl('phone').invalid && (form.getControl('phone').dirty || form.getControl('phone').touched)">
          <div *ngIf="form.getControl('phone').errors.required">Phone is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="form-field">
          <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="Date Of Birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="alert alert-danger" *ngIf="form.getControl('birthday').invalid && (form.getControl('birthday').dirty || form.getControl('birthday').touched)">
          <div *ngIf="form.getControl('birthday').errors.required">Date Of Birth is required</div>
        </div>
      </div>
      <div class="form-group">
          <mat-form-field class="form-field">
            <input matInput placeholder="Password" type="password" class="form-control" name="password" formControlName="password" required />
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="form.getControl('password').invalid && (form.getControl('password').dirty || form.getControl('password').touched)">
            <div *ngIf="form.getControl('password').errors.required" class="help-block">Password is required</div>
            <div *ngIf="form.getControl('password').hasError('minlength')" class="help-block">Password must has more than 8 characters</div>
          </div>
      </div>
      <div class="form-group">
          <mat-form-field class="form-field">
            <input matInput placeholder="Email" type="text" class="form-control" name="email" formControlName="email" required />
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="form.getControl('email').invalid && (form.getControl('email').dirty || form.getControl('email').touched)">
            <div *ngIf="form.getControl('email').errors.email" class="help-block">Email is has invalid content</div>
          </div>
      </div>
      <div class="form-group">
        <button mat-raised-button color="primary" [disabled]="loading" (click)="registration()" class="btn btn-primary">Registration</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/login']" class="btn btn-link">Login</a>
      </div>
    </form>
  </mat-card>
</div>
